{name, "erlcron"}.
{description, "Erlang cronish system"}.
{homepage, "https://github.com/erlware/erlcron"}.
{url, {git, "https://github.com/erlware/erlcron.git", {branch, "master"}}}.
{authors, ["ProcessOne"]}.
{license, "Erlang Public License 1.1", "EPLICENSE"}.
{applications, [erlcron]}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
